@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app{
@include m.tablet{
    //display: grid;
    //grid-template-columns: repeat(2,1fr);
    min-height: 100vh;

    width: 95%;
    margin: 2rem auto;
    padding: 3rem;

    /* Estilos para resaltar y dar sombra al contenedor */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    background-color: v.$back-logo; /* Fondo blanco */
}
.imagen {
    height: 20rem;
    
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-position: center center;
    @include m.tablet {
        height: auto;
    }
}

.app {
    width: 95%;
    margin: 0 auto;
    padding: 3rem 0;
    @include m.tablet {
        overflow: scroll;
    }
}
}

.barra {
margin: v.$separacion 0;

@include m.tablet {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.boton {
    @include m.boton(v.$negro, v.$rojo-logo);
    margin: 0;
}
}

.barra-servicios {
margin-bottom: v.$separacion;

@include m.tablet {
    display: flex;
    justify-content: space-between;
}

.boton {
    margin: 0 0 1rem 0;
}
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 12px;
    overflow: hidden; /* Para ocultar los bordes redondeados internos */
}

th, td {
    border: 1px solid v.$gris;
    padding: 13px;
    text-align: left;
}
th {
    background-color: v.$rojo-logo;
    color: v.$back-logo;
}
td {
    background-color: v.$blanco;
}
